In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
from prophet import Prophet
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
symbol = "GOOGL"
stock = yf.Ticker(symbol)
prices = stock.history(period='15y')
prices['Close'] = prices['Close'].round(3)
prices.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-01-25 00:00:00-05:00,14.810060,14.889890,14.168669,14.174,278361360,0.0,0.0
2008-01-28 00:00:00-05:00,14.288539,14.320320,13.728729,13.913,232435332,0.0,0.0
2008-01-29 00:00:00-05:00,14.025776,14.047297,13.530280,13.777,251068680,0.0,0.0
2008-01-30 00:00:00-05:00,13.743493,14.024775,13.601351,13.720,317266416,0.0,0.0
2008-01-31 00:00:00-05:00,13.488739,14.339339,13.370621,14.122,594257148,0.0,0.0