In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
from prophet import Prophet
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
symbol = "MANU"
stock = yf.Ticker(symbol)
prices = stock.history(period='15y')
prices['Close'] = prices['Close'].round(3)
prices.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-08-10 00:00:00-04:00,13.024644,13.163696,12.978292,12.978,31846200,0.0,0.0
2012-08-13 00:00:00-04:00,12.950478,14.155605,12.941208,13.117,2061800,0.0,0.0
2012-08-14 00:00:00-04:00,13.163694,13.423260,13.117343,13.164,204800,0.0,0.0
2012-08-15 00:00:00-04:00,13.367641,13.794070,13.006102,13.025,563500,0.0,0.0
2012-08-16 00:00:00-04:00,13.043182,13.052453,12.320106,12.765,1605600,0.0,0.0