In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
from prophet import Prophet
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
symbol = "MSFT"
stock = yf.Ticker(symbol)
prices = stock.history(period='15y')
prices['Close'] = prices['Close'].round(3)
prices.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-01-25 00:00:00-05:00,25.620894,25.694305,24.130622,24.182,196992300,0.0,0.0
2008-01-28 00:00:00-05:00,24.240742,24.299471,23.800267,24.021,81019000,0.0,0.0
2008-01-29 00:00:00-05:00,24.115938,24.145304,23.748877,23.932,68023000,0.0,0.0
2008-01-30 00:00:00-05:00,23.903048,24.079236,23.528644,23.639,106432600,0.0,0.0
2008-01-31 00:00:00-05:00,23.425864,24.035187,23.286380,23.932,103642200,0.0,0.0